<header class="font-sans sticky top-0 z-50 bg-zinc-950 ">
  <nav class="max-w-7xl mx-auto px-8 py-4 flex justify-between items-center">
    <div
      routerLink="/"
      class="text-zinc-50 text-lg font-light tracking-widest font-semibold font-mono cursor-pointer"
    >
      {{ title() }}
    </div>

    <button
      (click)="onLogout()"
      class="text-lg font-light text-zinc-50 font-light tracking-widest text-neutral-500 cursor-pointer hover:text-neutral-400 transition-colors"
    >
      Logout
    </button>
  </nav>
</header>
